@inject HttpClient Http
@page "/"

<PageTitle>Home</PageTitle>

<h1>Contact List</h1>

<p>Jest to aplikacja obsługująca listę kontaktów napisana na potrzeby rekrutacji NetPC.</p>

<p>Autor: Adam Dąbrowski (<a href="mailto:adam-dabrowski@outlook.com">adam-dabrowski@outlook.com</a>)</p>

@code {
}